 <link rel="stylesheet" href="../style.css">

<div id="header">
    <header>
        <div class="logo">
            <h2>Logo</h2>
        </div>
        <nav>
            <ul>
                <li> <a href="../index.html">Início</a></li>
                <li> <a href="../html/services.html">Nossos Serviços</a></li>
                <li> <a href>Contatos</a></li>
                <li> <a href="../html/about.html">Saiba Mais</a></li>
            </ul>
        </nav>
    </header>
</div>

<div id="footer">
    <footer>
        <h3>&copy; Todos os direitos reservados</h3>
    </footer>
</div>